<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    <div class="row">
      <div class="co-md-12">
        <div class="map">
          <agm-map  [latitude]="latMap" 
                    [longitude]="lngMap" 
                    (mapClick)="mapClicked($event)">
            <agm-marker *ngFor="let m of markers; let i = index"
                        (markerClick)="clickMarker(m, i)"
                        [latitude]="m.lat" 
                        [longitude]="m.lng"
                        [markerDraggable]="m.draggable" 
                        (dragEnd)="markerDragEnd(m, $event)"></agm-marker>
          </agm-map>
        </div>
      </div>    
    </div>  

    <div class="row">
      <div class="col-md-12">
        <form (submit)="addMarker()">
          <label>loc name: </label>
          <input type="text" name="markerName" [(ngModel)]="markerName">

          <label>loc lat: </label>
          <input type="text" name="markerLat" [(ngModel)]="markerLat">

          <label>loc lng: </label>
          <input type="text" name="markerLng" [(ngModel)]="markerLng">

          <label>loc drag: </label>
          <select type="text" name="markerDraggable" [(ngModel)]="markerDraggable">     
            <option value="no">NO</option>
            <option value="yes">YES</option>
          </select>  

          <input type="submit" value="mapit">
        </form>
      </div>
    </div>


    </div><!-- /.container -->




